# Archivos de configuración del entorno
*.env
*.env.*
venv

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de caché y logs de IDEs y sistemas operativos
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Archivos de logs
*.log

